<div class="header"><h1 class="tile">blog</h1></div>
<div class="container">
  <form class="loginForm" #heroForm="ngForm">
    <div class="form-group">
      <label for="account">Account</label>
      <input
        type="text"
        class="form-control"
        id="account"
        placeholder="Enter Account"
        [(ngModel)]="userAccount"
        name="userAccount"
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Password"
        [(ngModel)]="userPassword"
        name="userPassword"
      />
    </div>

    <button type="button" class="btn btn-outline-secondary" (click)="login()">
      login
    </button>
    <button
      type="button"
      class="btn btn-outline-primary"
      routerLink="/register"
    >
      register
    </button>
  </form>
</div>
