.loginForm{
    display: flex;
    flex-direction: column;
}

.btn {
    width: 90px;
    margin-top: 5px;
}

.header{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .tile{
    color: powderblue;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42a948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}
