<div class="container">
  <!-- 文章列表 -->
  <ul class="list-group">
    <li
      class="list-group-item list-group-item-action list-group-item-info"
      *ngFor="let article of articles"
    >
      <div class="title">
        <a routerLink="/detail/{{ article['articleId'] }}">
          {{ article["articleTitle"] }}
        </a>
        <strong>作者：{{article["userAccount"]}}</strong>
        <small>发表时间：{{article["articleDate"] | date:'yyyy-MM-dd'}}</small>
      </div>
    </li>
  </ul>
</div>
