<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newegg.mis.mps.blog.mapper.ArticleMapper">
    <select id="getArticleById" resultType="com.newegg.mis.mps.blog.pojo.Article">
        select article_id, article_title, article_content, article_comment_count, article_views,article_date,c.category_name,user_account
        from jt1n.blog_articles a left join jt1n.blog_category c on a.category_id = c.category_id
        left join jt1n.blog_user u on a.user_id = u.user_id
        where article_id = #{articleId}
    </select>

    <insert id="insertArticle" parameterType="com.newegg.mis.mps.blog.pojo.Article">
        insert into jt1n.blog_articles
        (user_id, article_title, article_content, article_views, category_id, article_comment_count)
        values(#{userId}, #{articleTitle}, #{articleContent}, #{articleViews}, #{categoryId}, #{articleCommentCount})
    </insert>

    <select id="getArticleList" resultType="com.newegg.mis.mps.blog.pojo.Article">
        select article_id, article_title, article_content, article_comment_count, article_views,article_date,c.category_name,user_account
        from jt1n.blog_articles a left join jt1n.blog_category c on a.category_id = c.category_id
        left join jt1n.blog_user u on a.user_id = u.user_id
    </select>
</mapper>