<!-- 导航栏 -->
<ul class="nav justify-content-center">
  <li class="nav-item" *ngIf="!loginUser">
    <a class="nav-link" routerLink="/login">登录</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/articleList">文章列表</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " routerLink="/write" *ngIf="loginUser">写文章</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/myArticles" *ngIf="loginUser">我的创作</a>
  </li>
  <button class="btn btn-link" (click)="logout()" *ngIf="loginUser">退出登录</button>
</ul>
<router-outlet (activate)="onActivate($event)"></router-outlet>
